<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="~{fragments:: html_head}" >
</head>

<body>
<header th:replace="~{fragments:: html_header}">
</header>

<section class="py-5">
    <div class="container">
        <h2 class="mb-4">About Us</h2>
        <p>This is the About Us page. Here you can provide information about your company, team, or mission.</p>
    </div>
</section>


<footer th:replace="~{fragments:: html_footer}">
</footer>
</body>
</html>



