<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="~{fragments:: html_head}" >
</head>

<body>
<header th:replace="~{fragments:: html_header}">
</header>

<div class="container mt-5">
    <h2>Edit Product</h2>
    <form action="#" th:action="@{/admin/products/edit/{code}(code=${product.productCode})}" th:object="${product}" method="post">
        <div class="form-group">
            <label for="productName">Product Name:</label>
            <input type="text" class="form-control" id="productName" th:field="*{name}">
        </div>

        <div class="form-group">
            <label for="productBrand">Brand:</label>
            <select class="form-control" id="productBrand" th:field="*{brand.brandCode}">
                <option value="">-- Select Brand --</option>
                <option th:each="brand : ${brands}" th:value="${brand.brandCode}" th:text="${brand.name}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="productPrice">Price:</label>
            <input type="text" class="form-control" id="productPrice" th:field="*{price}">
        </div>

        <div class="form-group">
            <label for="productCategory">Category:</label>
            <select class="form-control" id="productCategory" th:field="*{category.categoryCode}">
                <option value="">-- Select Category --</option>
                <option th:each="category : ${categories}" th:value="${category.categoryCode}" th:text="${category.name}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="productSize">Size:</label>
            <input type="text" class="form-control" id="productSize" th:field="*{size}">
        </div>
        <div class="form-group">
            <label for="productColor">Color:</label>
            <input type="text" class="form-control" id="productColor" th:field="*{color}">
        </div>
        <div class="form-group">
            <label for="productDescription">Description:</label>
            <textarea class="form-control" id="productDescription" rows="3" th:field="*{description}"></textarea>
        </div>
        <div class="form-group">
            <label for="productStockQuantity">Stock Quantity:</label>
            <input type="text" class="form-control" id="productStockQuantity" th:field="*{stockQuantity}">
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
</div>

<footer th:replace="~{fragments:: html_footer}">
</footer>
</body>
</html>




