<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="~{fragments:: html_head}" >
</head>

<body>
<header th:replace="~{fragments:: html_header}">
</header>

<div class="container">
    <h1>Brands</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Brand Code</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="brand : ${brands}">
            <td th:text="${brand.brandCode}">Brand Code</td>
            <td th:text="${brand.name}">Brand Name</td>
            <td th:text="${brand.description}">Brand Description</td>
            <td>
                <a class="btn btn-primary" th:href="@{/admin/brands/edit/{code}(code=${brand.brandCode})}">Edit</a>
                <a class="btn btn-danger" th:href="@{/admin/brands/delete/{code}(code=${brand.brandCode})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="text-right mb-3">
        <a th:href="@{/admin/brands/add}" class="btn btn-primary">Add New Brand</a>
    </div>
</div>




<footer th:replace="~{fragments:: html_footer}">
</footer>
</body>
</html>




