<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="~{fragments:: html_head}" >
</head>

<body>
<header th:replace="~{fragments:: html_header}">
</header>

<div class="container">
    <h1 class="mt-4 mb-4">Product Catalog</h1>
    <div class="row">
        <!-- Iterate through each product -->
        <div class="col-lg-4 col-md-6 mb-4" th:each="product : ${products}">
            <div class="card h-100">
                <!-- Product image -->
                <img class="card-img-top" th:src="@{${product.image}}" alt="Product Image">
                <div class="card-body">
                    <!-- Product name -->
                    <h5 class="card-title" th:text="${product.name}"></h5>
                    <!-- Product price -->
                    <h6 class="card-subtitle mb-2 text-muted" th:text="'Price: $' + ${product.price}"></h6>
                    <h6 class="card-subtitle mb-2 text-muted" th:text="'Manufacturer: ' + ${product.brand.name}"></h6>


                    <!-- Product description -->
                    <p class="card-text" th:text="${product.description}"></p>
                </div>
                <div class="card-footer" sec:authorize="hasRole('ROLE_USER')">
                    <!-- Add to Cart form -->
                    <form method="post" th:action="@{/user/cart/add}" th:object="${cartItem}">
                        <input type="hidden" name="productCode" th:value="${product.productCode}" />
                        <!-- Quantity -->
                        <input type="number" class="form-control mb-2" name="quantity" value="1" min="1" />
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block">Add to Cart</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<footer th:replace="~{fragments:: html_footer}">
</footer>
</body>
</html>



