<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="~{fragments:: html_head}" >
</head>

<body>
<header th:replace="~{fragments:: html_header}">
</header>

<div class="container">
    <h1>Order Confirmation</h1>
    <div class="alert alert-success" role="alert">
        Your order has been successfully placed!
    </div>
</div>

<footer th:replace="~{fragments:: html_footer}">
</footer>
</body>
</html>





